  html, body {
    /* 
    background:#222 none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    background:#222 none no-repeat scroll 0 0;
    background-image: url("assets/img/background_800x426.png");
    color:#f32ccf;
    font-family:Helvetica;
    font-size:80%;
    line-height:1.5em;
    border-top:1px solid #393939;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  /*
   *  Prevents nasty selection issues
   * */
  .unselectable{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

  /* 
   * The menu with buttons to switch between tabs
   * */
  #menu{
    height: auto;
    width: 20%;
    position: absolute;
    margin: 145px auto;
    float:left;
  }
 
  /* Stage Buttons */
  a.btn{
  	text-align: center;
  	display: block;
  	background: #444;
  	width: auto;
  	color: #f32ccf;
  	font-size: 1.8em;
  	text-decoration: none;
  	padding: 0.4em 0;
  	margin: auto;
    float: left;
  }

  /* Menu Buttons */
  #menu a.btn{
    vertical-align: middle;
  	width: 94%;
    height: auto;
  	margin: 6% 0% 6% 15%;
    padding: 14% 0 14% 0;
  }
  
  .tab_container{
    height: 90%;
    width: 78%;
    margin: 2.5% auto;
    position: relative;
    float:right;
    overflow: hidden;
  }

  .a_side{
    height: 90%;
    width: 47.5%;
    margin: auto 0% auto 2.5%;
    float: left;
  }

  .b_side{
    height: 90%;
    width: 47.5%;
    margin: auto 0% auto 2.5%;
    float: right;
  }

  #settings > .a_side{
    height: 45%;
  }

  #settings > .b_side{
    height: 45%;
  }

  .tab{
    height: 100%;
    width: 100%;
    margin: auto;
    display: none;
  }

  /*
   * The different tabs: Info, Like, Settings
   * */
    
  #info.tab{
    position: absolute;
    left: 0;
    top: 0;
    display: block; /* is the first tab to be displayed */
  }

  #feedback.tab{
    position: absolute;
    left: 0;
    top: 0;
  }

  #settings.tab{
    position: absolute;
    left: 0;
    top: 0;
  }

  .bar{
    width: 20%;
    height: auto;
  }

  /*
   * Moving accelerometer bars
   */
  #bars{
    background: #111;
  	border: 2px solid #f32ccf;
    width: 90%;
    margin: auto 0 auto 5%;
    height: 95%;
    float: left;
    position: relative;
  }

  /*
   * the 'position: absolute' is absolute to it's relative parent!
   * */
  #barx{
  	border: none;
    background: #09b5e3;
    position: absolute;
    bottom: 5px;
    left: 10%;
  }

  #bary{
  	border: none;
    background: #00e18f;
    position: absolute;
    bottom: 5px;
    left: 40%;
    right: 40%;
  }
  
  #barz{
  	border: none;
    background: #ffde00;
    position: absolute;
    bottom: 5px;
    right: 10%;
  }
  
  #messages{
    width: 90%;
    margin: 5% 0 auto 0;
    height: 100%;
    float: left;
    position: relative;
  }

  /*
   *  Messages text container in the info tab
   * */
  .info_container{
    width: 90%;
    height: auto;
    color:#ffde00;
    font-size:1.2em;
    line-height:1.4em;
    margin: auto 7.5% auto 0;
  }

  .text{
    color: #00e18f;
    line-height:1.2em;
    width: 96%;
    margin: auto;
    padding: 0.5em;
    height: 10em;
    overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
    font-size: 11pt;
  }

  #track_information{
    width: 90%;
    margin: auto 5% auto 0;
  }
  
  #connection_status{
    width: 90%;
    height: 20%;
  }
  
  /*
   *  Slider associated
   * */
  
  .relative_container{
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
  }
  
  .slider_container{
    width: 275px;
    height: 5em;
    margin-top: 50px;
    margin-left: 50px;
  }

  .slider{
  	display: block;
  	background: #444;
  	margin: auto;
    height: 3em;
    width: 275px;
    position: absolute;
    bottom: 1em;
  }

  .knob{
  	display: block;
  	background: #f32ccf;
  	margin: auto;
    height: 5em;
    width: 30px;
    position: absolute;
    left: 134px;
    bottom: 0;
  }

  #current_bpm .slider{
  	border: 1px solid #00e18f;
  }

  #current_bpm .knob{
  	border: 1px solid #00e18f;
  	background: #00e18f;
  }

  #current_bpm b{
    color: #f32ccf;
  }

  /* 
   *  Input Text 
   * */
  #settings input.txt{
  	border: 1.5px solid #f32ccf;
    -webkit-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	display: block;
  	background: #444;
  	color: #ffde00;
  	font-size: 1.4em;
    font-weight: bold;
  	padding: 0.3em 0 0.3em 0;
  	margin: 1.6em auto;
    width: 100%;
  }
  
  .input_container{
  	margin: auto 15% auto 5%;
    width: 80%;
  }

  .input_container > h2{
  	color: #ffde00;
    float: left;
  	font-size: 1.4em;
  }
  
  /*
   *  Theme
   * */

  #stage.theme{
    padding-top:3px;
  }

  /* Definition List */
  #stage.theme dl{
  	padding-top:10px;
  	clear:both;
  	margin: auto 0 auto 25px;
  	list-style-type:none;
  	padding-left:0;
  	overflow:auto;
  	font-size: 1em;
  }

  #stage.theme dl > dt{
  	font-weight:bold;
  	font-size: 8pt;
  	float:left;
    margin-left:0px;
  	width: 45px;
    color:#ffde00;
  }

  #stage.theme dl > dd{
  	font-size: 8pt;
  	width:45px;
  	float:left;
  	color:#f32ccf;
  	font-weight:bold;
  }

  /* Content Styling */
  #stage.theme > h1, #stage.theme > h2, #stage.theme > p{
    margin:1em 0 .5em 13px;
    text-align:center;
  }

  h3{
    margin: auto auto auto 15%;
    padding:3px;
  	font-size: 16pt;
  }

  
  /* Save button */
  #settings a.btn{
  	margin: 10% 30% auto auto;
    float: none;
  	width: 40%;
    padding: 5% 0 5% 0;
  }

  /* Like button */
  #feedback a.btn{
  	margin: auto;
    float: none;
  	width: 40%;
    padding: 5% 0 5% 0;
  } 

  /* makes round edges */
  .edge{
  	border: 2px solid #f32ccf;
    -webkit-border-radius: 15px;
  	border-radius: 15px;
  }

  /* Interface element */
  .interface{
    margin: 7.5% auto 5% auto;
  }

  .interface b{
    font-size:1em;
    color: #ffde00;
  }
  
  .interface b.text{
    color: #f32ccf;
  }

  .text_container{
    width: 90%;
    height: 5em;
    color:#f32ccf;
    font-size:1.4em;
    line-height:1.8em;
    margin: 1.6em auto;
  }
