  html, body {
    background:#222 none repeat scroll 0 0;
    color:#f32ccf;
    font-family:Helvetica;
    font-size:80%;
    line-height:1.5em;
    border-top:1px solid #393939;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  /*
   *  Prevents nasty selection issues
   * */
  .unselectable{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

  /* 
   * The menu with buttons to switch between tabs
   * */
  #menu{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .tab_container{
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
  }

  .tab{
    height: 100%;
    width: 100%;
    margin: auto;
    display: none;
  }

  /*
   * The different tabs: Info, Like, Settings
   * */
    
  #info.tab{
    position: absolute;
    left: 0;
    display: block; /* is the first tab to be displayed */
  }

  #feedback.tab{
    position: absolute;
    left: 0;
  }

  #settings.tab{
    position: absolute;
    left: 0;
  }

  .bar{
    width: 20%;
    height: auto;
  }

  /*
   * Moving accelerometer bars
   */
  #bars{
    background: #111;
  	border: 1px solid #f32ccf;
    width: 90%;
    margin: auto;
    height: 250px;
    position: relative;
  }

  /*
   * the 'position: absolute' is absolute to it's relative parent!
   * */
  #barx{
  	border: none;
    background: #09b5e3;
    position: absolute;
    bottom: 5px;
    left: 10%;
  }

  #bary{
  	border: none;
    background: #00e18f;
    position: absolute;
    bottom: 5px;
    left: 40%;
    right: 40%;
  }
  
  #barz{
  	border: none;
    background: #ffde00;
    position: absolute;
    bottom: 5px;
    right: 10%;
  }
  
  /*
   *  Messages text container in the info tab
   * */
  .info_container{
    width: 90%;
    height: auto;
    color:#ffde00;
    font-size:1.2em;
    line-height:1.4em;
    margin: 1em auto;
  }

  .text{
    color: #00e18f;
    line-height:1.2em;
    width: 96%;
    margin: auto;
    padding: 0.5em;
    height: 4em;
    overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
  }

  #track_information .text{
    height: 6em;
  }

  /*
   *  Slider associated
   * */
  
  .relative_container{
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
  }
  
  .slider_container{
    width: 288px;
    height: 2.5em;
  }

  .slider{
  	display: block;
  	background: #444;
  	margin: auto;
    height: 1.5em;
    width: 288px;
    position: absolute;
    bottom: 0.5em;
  }

  .knob{
  	display: block;
  	background: #f32ccf;
  	margin: auto;
    height: 2.5em;
    width: 20px;
    position: absolute;
    left: 134px;
    bottom: 0;
  }

  #current_bpm .slider{
  	border: 1px solid #00e18f;
  }

  #current_bpm .knob{
  	border: 1px solid #00e18f;
  	background: #00e18f;
    height: 2.5em;
  }

  #current_bpm b{
    color: #f32ccf;
  }

  /* 
   *  Input Text 
   * */
  #settings input.txt{
  	border: 1.5px solid #f32ccf;
    -webkit-border-radius: 5px;
  	border-radius: 5px;
  	text-align: center;
  	display: block;
  	background: #444;
  	color: #ffde00;
  	font-size: 1.4em;
    font-weight: bold;
  	padding: 0.3em 0 0.3em 0;
  	margin: 1.6em auto;
    width: 100%;
  }
  
  .input_container{
  	margin: auto;
    width: 90%;
  }

  .input_container > h2{
  	color: #ffde00;
    float: left;
  	font-size: 1.4em;
  }
  
  /*
   *  Theme
   * */

  #stage.theme{
    padding-top:3px;
  }

  /* Definition List */
  #stage.theme dl{
  	padding-top:10px;
  	clear:both;
  	margin:0;
  	list-style-type:none;
  	padding-left:10px;
  	overflow:auto;
  }

  #stage.theme dl > dt{
  	font-weight:bold;
  	float:left;
    margin-left:5px;
  	color:#ffde00;
  }

  #stage.theme dl > dd{
  	width:30px;
  	float:left;
  	color:#f32ccf;
  	font-weight:bold;
  }

  /* Content Styling */
  #stage.theme > h1, #stage.theme > h2, #stage.theme > p{
    margin:1em 0 .5em 13px;
    text-align:center;
  }

  #stage.theme > h1{
  	color:#f32ccf;
    font-size:1.6em;
    margin:0;
    margin-top:15px;
    padding:0;
  }

  #stage.theme > h2{
  	clear:both;
    margin:0;
    padding:3px;
    font-size:1em;
  }

  /* Stage Buttons */
  a.btn{
  	text-align: center;
  	display: block;
  	background: #444;
  	width: auto;
  	color: #f32ccf;
  	font-size: 1.8em;
  	text-decoration: none;
  	padding: 0.4em 0;
  	margin: auto;
    float: left;
  }

  /* Menu Buttons */
  #menu a.btn{
  	width: 30%;
  	margin: 1% 0 1% 2%;
  }
  
  /* Save button */
  #settings a.btn{
  	padding: 0.4em;
  	margin: auto;
    float: none;
  	width: 40%;
  }

  /* Like button */
  #feedback a.btn{
  	padding: 0.4em;
  	margin: auto;
    float: none;
  	width: 40%;
  } 

  /* makes round edges */
  .edge{
  	border: 1px solid #f32ccf;
    -webkit-border-radius: 5px;
  	border-radius: 5px;
  }

  /* Interface element */
  .interface{
    margin: 2.5% auto 2.5% auto;
    padding-bottom: 5%;
  }

  .interface b{
    color: #ffde00;
  }
  
  .interface b.text{
    color: #f32ccf;
  }

  .text_container{
    width: 90%;
    height: auto;
    color:#f32ccf;
    font-size:1.6em;
    line-height:1.8em;
    margin: 1.6em auto;
  }

