body {
  background-color: #222;
  font-family: "Helvetica";
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
}

h1 {
  color: #999;
}


h2 {
  color: #ccc;
}

p {
  color: #999;
}


#canvas{
}

/*
 *  Simulator Styling
 * */
#simulatorinputs{
  zoom: normal;
  width: 525px;
  height: 380px;
  left: 340px;
  top: 360px;
  position: absolute;
}

#simulatorinputs > .relative_container{
  width: 90%;
  height: 90%;
  margin: 20% auto;
}

#simulatorinputs .edge{
  border: 2px solid #00e18f;
  -moz-box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
  -webkit-box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
  box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
}

input.txt{
  border: 2px solid #00e18f;
  -moz-box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
  -webkit-box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
  box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
}

.relative_container{
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.interface{
  width: 100%;
  height: 100%;
  margin: auto;
}

.input_container{
  width: 100%;
  margin: auto;
}

.interface ul{
  list-style-type: none;
  -webkit-padding-start: 0;
}

.interface li{
  min-height: 2em;
  padding-top: 0.5em;
}

.interface b{
  color: #ffde00;
  font-size: 1em;
  width: 45%;
  padding-top: 0.5em;
  margin: auto;
  float: left;
}

.interface input.txt{
  font-size: 0.9em;
  width: 45%;
  padding-top: 0.45em;
  margin: auto;
  float:right;
}

a.btn{
  text-align: center;
  display: block;
  background: #444;
  color: #f32ccf;
  text-decoration: none;
  padding: 0.5em;
  margin: 0 35% 0 35%;
}

input.txt{
  border: 2px solid #f32ccf;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  display: block;
  background: #444;
  color: #ffde00;
  font-weight: bold;
}

.edge{
  border: 2px solid #f32ccf;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
