/*
 *  Simulator Styling
 * */
#textinputs{
  zoom: normal;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
  position: absolute;
}

#textinputs > .relative_container{
  width: 0px;
  height: 0px;
  margin: auto;
  position: relative;
}

#textinputs .interface{
  width: 100%;
  height: 100%;
  margin: auto;
}

#textinputs input.txt{
  font-size: 16px;
  text-align: center;
  display: block;
  background: #444;
  color: #ffde00;
  font-weight: bold;
  width: 95%;
  padding: 0;
}

#textinputs .interface ul{
  list-style-type: none;
  -webkit-padding-start: 0;
}

#textinputs .interface li{
  min-height: 0;
  padding: 0;
}

#textinputs .edge{
  border: 2px solid #00e18f;
  -moz-box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
  -webkit-box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
  box-shadow: 4px 4px 8px rgba(0,225,143,0.25);
}
