* {
  background: transparent;
}

body, html {
  background: #222;
}

.card {
  text-align: center;
  background: #222;
  text-shadow: #ddd 0 1px 0;
  font-size: 20px;
  padding: 30px 20px;
}
.card h1 {
  font-size: 72px;
  line-height: 96px;
}
.card1 .x-panel-body {
  color: #00e18f;
  text-shadow: #00e18f 0 1px 0;
}
.card2 .x-panel-body {
  color: #09b5e3;
  text-shadow: #09b5e3 0 1px 0;
}
.card3 .x-panel-body {
  color: #ffde00;
  text-shadow: #ffde00 0 1px 0;
}
.card4 .x-panel-body {
  color: #f32ccf;
  text-shadow: #f32ccf 0 1px 0;
}

#btnConnect {
  margin-top: 40px;
}

div.msg {
  text-align: left;
  padding: 10px;
}
div.msg.dance {
  color: #00e18f;
}
div.msg.tracks {
  color: #09b5e3;
}
div.msg.crowd {
  color: #ffde00;
}
div.msg.connect {
  color: #f32ccf;
}
div.msg.calibrate {
  color: #00e18f;
}

div#delta {
  margin: auto;
  width: 160px;
  height: 300px;
}

div#delta div {
  background: transparent;
  height: 23px;
  width: 100%;
  margin: 5px auto;
  border: 3px solid #09b5e3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
